<div class="contenedor-experiencia">
    <h2>Experiencia laboral</h2>
<div class="container">
    <div class="row "> 
        <div class="col-lg-11 align-self-end">
            <ul>
                <li>
                    <h3>Trabajo 1</h3> - <h4>(years)</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur similique facilis perferendis tempore numquam ipsum, minima veritatis! Explicabo, illum eos, corporis quod laboriosam officia modi ducimus fuga odio, amet magni!</p>
                </li>
                <li>
                    <h3>Trabajo 2</h3> - <h4>(years)</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur similique facilis perferendis tempore numquam ipsum, minima veritatis! Explicabo, illum eos, corporis quod laboriosam officia modi ducimus fuga odio, amet magni!</p>
                </li>
                <li>
                    <h3>Trabajo 3</h3> - <h4>(years)</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur similique facilis perferendis tempore numquam ipsum, minima veritatis! Explicabo, illum eos, corporis quod laboriosam officia modi ducimus fuga odio, amet magni!</p>
                </li>
            </ul>
           
        </div>
    </div>
</div>
</div>


