<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="../../../assets/foto-perfil.jpg" id="imagenperfil" class="img-fluid" alt="imagen de Perfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">{{persona.apellido}} {{persona.nombre}}</p>
        <p>Tester QA Jr</p>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h2>Acerca de mí</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam commodi sequi, tenetur exercitationem nisi saepe autem! Mollitia libero voluptas ea delectus totam quibusdam labore nesciunt tempora, et laboriosam ab sed!</p>
    </div>
</div>
