
header div .borde-seccion {
    height: max-content;
  }
  
  .barra-nav {
    border-top-left-radius:  8px;
    border-top-right-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(175, 175, 231);
    height: 70px;
    width:100%;
    background-color:aliceblue;
    position: sticky;
    top: 0;
    z-index: 100;
  }
    
  .elementos-nav{
      margin: 10px;
    }
  
  .div-imagen-perfil{
    position: absolute;
    top: 60%;
  }
  
  .contenedor-banner{
    position: relative;
    top: 0;
  }
  .imagen-perfil{
      width: 12em;
      border-radius: 50%;  
  }
  
  
  #logo-argprog{
      background-color: rgb(6, 8, 109);
  }
  .imagen-logo{
     height: 3em;
  }
  
  .descripcion{
    margin-top: 3rem;
  }
  
  