<header>
    <div class="borde-seccion ">
        <div class=" barra-nav">
            <nav >
                        <div class="elementos-nav" >
                            <div class ="rounded float-start">
                                <div class="container">
                                    <div class="row" >
                                        <div class="col">
                                            <a href="https://argentinaprograma.inti.gob.ar/" target="_blank"><img class="imagen-logo" id="logo-argprog" src="imagenes/APLogo-20-20.png" alt="logo de argentinaprograma"> </a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class ="rounded float-end">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                                <a href="https://ar.linkedin.com/in/milton-ruiz-diaz-319594131?trk=people-guest_people_search-card" target="_blank"><img class="imagen-logo" src="imagenes/Linkedin-logo.png"  alt="logo linkedin"></a> 
                                        </div>
                                        <div class="col">
                                            <a href="https://www.instagram.com/miltonruiz.diaz/" target="_blank"><img class="imagen-logo" src="imagenes/instagram-logo.png" alt="logo de instagram"></a>
                                        </div>
                                        <div class="col">
                                            <a href="https://www.facebook.com/milton.ruizdiaz1/" target="_blank"><img class="imagen-logo" src="imagenes/facebook-logo.png" alt="logo de instagram"></a>
                                        </div>
                                        <div class="col">
                                            <app-button></app-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </nav> 
        </div>
                <div >           
                    <img src="Imagenes/banner3.jpg" class="img-fluid imagen-banner" alt="Banner del PortFolio">
                    <div class="div-imagen-perfil">
                        <img src="Imagenes/foto-perfil.jpeg" class="img-thumbnail imagen-perfil" alt="foto de perfil">
                    </div>
                </div> 

                <div class="descripcion">
                    <h2>Milton Ruiz Diaz - Full Stack Developer</h2>
                    <h4> Estidiante de Lic. en Sistemas de Información</h4>
                    <br>
                    <h5> Buenos Aires - Argentina </h5>
                </div>            
    </div>
</header>
<section>
