
    <div class="borde-seccion ">
        <div class=" barra-nav">
            <div class="elementos-nav " >
                <app-logo-ap></app-logo-ap>
                <app-social></app-social>
                <div class="col">
                    <app-button></app-button>
                </div>
            </div>
        </div>
                <div>           
                    <app-banner></app-banner>
                    <app-acerca-de></app-acerca-de>
                </div> 
         
    </div>

