<header>
    <div class="borde-seccion ">
        <div class=" barra-nav">
            <nav >
                        <div class="elementos-nav " >
                            <app-logo-ap></app-logo-ap>
                            <app-social></app-social>
                            <div class="col">
                                <app-button></app-button>
                            </div>
                        </div>
            </nav> 
        </div>
                <div >           
                    <app-banner></app-banner>
                </div>          
    </div>
</header>
<section>
