<div class="container text-center">
    <div class="row justify-content-end ">
        <div class="col-3">
            <a href="https://ar.linkedin.com/in/milton-ruiz-diaz-319594131?trk=people-guest_people_search-card" target="_blank"><img class="imagen-logo" src="../../../assets/Linkedin-logo.png"  alt="logo linkedin"></a> 
        </div>
        <div class="col-3">
            <a href="https://www.instagram.com/miltonruiz.diaz/" target="_blank"><img class="imagen-logo" src="../../../assets/instagram-logo.png" alt="logo de instagram"></a>
        </div>
        <div class="col-3">
            <a href="https://www.facebook.com/milton.ruizdiaz1/" target="_blank"><img class="imagen-logo" src="../../../assets/facebook-logo.png" alt="logo de facebook"></a>
        </div>
        <div class="col-3">
            <a href="https://github.com/miltonrrd" target="_blank"><img class="imagen-logo" src="../../../assets/logo-github.png" alt="logo de github"></a>
        </div>
        
   </div>
</div>
       
       


           
   