<div class="contenedor-proyectos">
    <h2>Proyectos</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7 ">
                <h3>Aplicación WebAlert</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ad in facilis obcaecati accusantium! Vero, fuga modi! Quibusdam deserunt sit nam, excepturi eligendi, id temporibus dolore repudiandae doloremque libero nesciunt.</p>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 ">
                <iframe src="../../../assets/Web Alert.pptx.pdf#view=FitH" class="vista-proyecto" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7 ">
                <h3>Juego: Army Men Strike </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ad in facilis obcaecati accusantium! Vero, fuga modi! Quibusdam deserunt sit nam, excepturi eligendi, id temporibus dolore repudiandae doloremque libero nesciunt.</p>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 ">
                <iframe src="../../../assets/Equipo 1 - Army Men Strike.pdf#view=FitH" class="vista-proyecto"
                frameborder="0"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7 ">
                <h3>Homebanking </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ad in facilis obcaecati accusantium! Vero, fuga modi! Quibusdam deserunt sit nam, excepturi eligendi, id temporibus dolore repudiandae doloremque libero nesciunt.</p>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 ">
                <iframe src="../../../assets/PresentaciónChallenge.pdf#view=FitH" class="vista-proyecto"
                frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
